# Logs: Keep an empty log folder but ignore contents
*/log/*
!*/log/.gitkeep

# NodeJS
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# DB
store/.docker/localData/

# Terraform
.terraform/
terraform.tfstate

# IDE
.idea/
.vscode/
.history/
*.swp
